/* footer */
.footer {
    background-color: var(--bg-hero);


    .container{
        // display: flex;
    }
}

.footer-company {
    // width: 231px;
}

.footer-social {
    margin-bottom: 60px;
    @include mq(desktop){
        padding-top: 12px;
        margin-left: 70px;
    }
    
}

.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--bg-main);
    margin-bottom: 20px;
}

.footer-social__social-icons {
    @include mq(desktop) {
        justify-content: flex-start;
    }
}

.footer-social__link {
    background: rgba(255, 255, 255, 0.1);
    color: var(--bg-main);

    transition: background-color var(--time) var(--cubic);
}


/* subscription */
.subscription {
    

    @include mq(desktop) {
        padding-top: 12px;
        margin-left: 93px;
    }

    &__label{
        display: block;
        margin-bottom: 20px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        text-align: center;

        color: #ffffff;

        @include mq(desktop) {
            display: inline-block;
        }
    }
    &__box{
        // display: flex;
        @include mq(desktop) {
            display: flex;
        }
    }
}


.subscription__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    border-radius: 4px;

    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color var(--time) var(--cubic);
    &:focus {
        outline: none;
        border-color: var(--acсent-color);
    }

    @include mq(desktop) {
        width: 358px;
    }
}

.subscription__button {
    @extend %block-center;
    @extend %button;
    
    margin: 0 auto;
    padding: 10px 28px;
    width: 200px;

    @include mq(desktop){
        margin-left: 12px;

    }

}

.subscription__icon {
    fill: var(--bg-main);
    margin-left: 10px;
}