/* HERO */
.hero {
    background-color: var(--bg-hero);
    background-image: linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 118px 0;
    margin: 0 auto;


    @include mqr ('2x'){
        background-image: linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/img_mob@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        // min-height: 459px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 600px;
        padding: 200px 0;
    }

}

.hero__title {
    // margin: 0 60px 30px;
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--logo-second-color);

    @media screen and (min-width: 768px) {
            // min-height: 459px;
        }

    @media screen and (min-width: 1200px) {
        margin: 0 250px 30px;
    }


}

.hero__button {
    @extend %button;
    padding: 10px 24px;
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        padding: 10px 32px; 
    }
}