/* HERO */
.hero {
    background-color: var(--bg-hero);
    background-image: linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0 auto;


    @include mqr ('2x'){
        background-image: linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/img_mob@2x.jpg);
    }

    @include mq (tablet) {
        background-image: linear-gradient(to top,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero/img_tab.jpg);
           

        @include mqr ('2x') {
            background-image: linear-gradient(to top,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
               url(../images/hero/img_tab@2x.jpg);
        }
    }
    
    @include mq(desktop) {
        background-image: linear-gradient(to top,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img_desk.jpg);
        
        
        @include mqr ('2x') {
            background-image: linear-gradient(to top,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/img_desk@2x.jpg);
        }
    }    

    .container{
        padding: 118px 60px;

        @include mq(desktop) {
            padding: 200px ;
        }
    }
}

.hero__title {
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--logo-second-color);

    @media screen and (min-width: 768px) {
        width: 360px;
        margin: 0 auto 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
            
        }

    @media screen and (min-width: 1200px) {
        width: 725px;
        font-size: 44px;
        line-height: calc(60 / 44);
    }
}

.hero__button {
    @extend %button;
    padding: 10px 24px;
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        padding: 10px 32px; 
    }
}