/* MODAL */
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--time) var(--cubic),
        visibility var(--time) var(--cubic);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    width: 528px;
    height: 581px;

    transition: transform var(--time) var(--cubic);

    .backdrop.is-hidden & {
        transform: scale(0.1);
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %block-center;
    
    background: #ffffff;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal__close-icon {
    transition: fill var(--time) var(--cubic);

    .modal__close-btn:hover &,
    .modal__close-btn:focus & {
        fill: var(--acсent-color);
    }
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--first-color);
}

%modal-label-txt{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--second-color);
}

.modal__label {
    display: block;
    margin-bottom: 4px;

    @extend %modal-label-txt;
}

.modal__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal__input {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--second-color);
    transition: border-color var(--time) var(--cubic);

    &:focus {
        outline: none;
        border-color: var(--acсent-color);
    }
}

.modal__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--time) var(--cubic);

    .modal-input:focus+& {
        fill: var(--acсent-color);
    }
}

.modal__coment {display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--time) var(--cubic);
    // outline: 1px solid red;

    @extend %modal-label-txt;

    &::placeholder {
        @extend %modal-label-txt;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--acсent-color);
    }
}

.modal__checkbox-wrapper {
    display: flex;
    margin-bottom: 30px;
    padding-left: 12px;
    // outline: 1px solid red;
}
.modal__checkbox{
    @extend .visually-hidden;
}

.modal__label-span {
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--first-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 2px;
    
    @extend %block-center;
    
    transition: border var(--time) var(--cubic),
        background-color var(--time) var(--cubic);

    .modal__checkbox:checked+.modal__checkbox-label & {
        border: none;
        background-color: var(--acсent-color);
    }
}

.modal__label-icon {
    fill: transparent;
    transition: fill var(--time) var(--cubic);

    .modal__checkbox:checked+.modal__checkbox-label & {
        fill: var(--bg-main);
    }
}

.modal__checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-color);
}

.modal__checkbox-link {
    margin-left: 5px;
    color: var(--acсent-color);
}

.modal__submit-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    background: var(--acсent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--bg-main);
    transition: background var(--time) var(--cubic);

    &:hover,
    &:focus {
        background: #188ce8;
    }
}