.what {
    padding-bottom: 94px;
}

.what__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.what-list {
    display: flex;
}

.what-list__item {
    @extend %list;
    position: relative;
    width: calc((100% - 60px) / 3);
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.what-list__desc {
    position: absolute;
    bottom: 0;
    left: 0;

    @extend %block-center;
    
    width: 100%;
    height: 70px;
    
    background: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;

    color: var(--bg-main);
}