.contact {
    display: none;
    @extend %list;

    @include mq(tablet) {
        display: block;
        margin-left: auto;
    }

    @include mq(desktop) {
        display: flex;

        align-items: center;
        margin-left: auto;
        }
    }
    // display: flex;

.contact__item {
    
    &:last-child {
        margin-right: 0;
    }

    @include mq(only-tablet) {
        &:nth-child(1) {
            margin-bottom: 10px;
        }
    }

    @include mq(desktop) {
        margin-right: 50px;
        margin-bottom: 0;
    }
}

.contact__link {
    @extend %link;
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    fill: currentColor;
    transition: color var(--time) var(--cubic);

    &:hover, &:focus{
        color: var(--acсent-color);
    }


}

.contact__icon {
    margin-right: 10px;
}