.menu-open-btn {
    cursor: pointer;
  
    background-color: inherit;
    border: none;
    
    margin-left: auto;
    color: var(--first-color);

    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus{
        color: var(--acсent-color);
    }

    display: none;
    @include mq(only-phone) {
        display: flex;
    }
        
}

.menu-open-btn__icon{
    fill: currentColor;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--bg-main);
    z-index: 999;

    transform: translateX(100%);
    transition: transform var(--time) var(--cubic);

    display: flex;
    flex-direction: column;

    &.is-open {
        transform: translateX(0);
    }
}

.menu-close-btn{
    position: absolute;
    top: 10px;
    right: 15px;

    background-color: inherit;
    border: none;

    margin-left: auto;
    color: var(--first-color);

    transition: color var(--time) var(--cubic);

    &:hover,
    &:focus {
        color: var(--acсent-color);
    }
}

.menu-close-btn__icon {
    fill: currentColor;
}

.menu-phone{
    @extend %list;
}

.menu-phone__item{
    &:not(:last-child){
    margin-bottom: 32px;
    }
}

.menu-phone__link{
    @extend %link;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: var(--first-color);

    transition: color var(--time) var(--cubic);
    &:hover,
    &:focus {
        color: var(--acсent-color);
    }
}

.contact-phone {
    @extend %list;
    margin-top: auto;
    margin-bottom: 64px;
}

.contact-phone__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.contact-phone__link {
    @extend %link;

    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;

    color: var(--second-color);
    
    &--accent{
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--acсent-color);
    }
 }

.social-phone{
    @extend %list;
    @extend %block-center;
}

.social-phone__item{
    position: relative;
    &:not(:last-child){
        margin-right: 20px;
    }
}

.social-phone__link{
    @extend %link;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;

    color: var(--acсent-color);
}

.social-phone__link--after::after{
content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    bottom: 0;
    right: -10px;
}