.menu {
    @extend %list;
    display: flex;
}

 .menu__item {
    position: relative;

    &:not(:last-child) {
         margin-right: 50px;
    }
 }

.menu__link {
    @extend %link;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--first-color);
    transition: color var(--time) var(--cubic);

    &:hover, &:focus{
        color: var(--acсent-color);
    }
}

.menu__link--active {
    color: var(--acсent-color);

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--acсent-color);

        bottom: -31px;
        left: 0;
    }
}