/* Header */
.page-header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;

    .container {
        display: flex;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
}