.social-icons {
    @extend %block-center;
    @extend %list;
}

.social-icons__link {
    @extend %block-center;
    @extend %link;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--bg-main);
    color: var(--icon-color);

    transition: background-color var(--time) var(--cubic),
        color var(--time) var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--acсent-color);
        color: var(--bg-main);
    }
}

.social-icons__item:not(:last-child) {
    margin-right: 10px;
}

.social-icons__icon {
    fill: currentColor;
}