.team-list {
    display: flex;
    @extend %list;
}

.team-list__item {
    padding-bottom: 30px;
    flex-basis: calc((100% - 90px) / 4);
    background: var(--bg-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team-list__img {
    margin-bottom: 30px;
}

%team-list-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list__employee {
    @extend %team-list-text;
    font-weight: 500;
    margin-bottom: 10px;
}

.team-list__position {
    @extend %team-list-text;
    color: var(--second-color);
    margin-bottom: 16px;
}